

    <div class="owns">
        <h5>Pizza22-практичний проект в межах курсу JavaScript в Києво-Могилянкській академії</h5>
        <h5>Доставка піци не здіснюється</h5>
    </div>



<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>