<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>

<div class="title_column">
    <div class="in_up">
        <h6>PIZZA</h6>
        <h4> KMA</h4>
        <img  class="added"  src="assets/images/discount.svg">
    </div>
    <div class="sale">
        <img  class="added"  src="assets/images/discount.svg">
        <h5>Цього тижня знижка на все -20%
        </h5>
    </div>

    <div >
        <span class="phone">(068) 102 8489</span>
        <span class="two_delete">24 години/7 днів на тиждень</span>
        <span class="one_delete">Безкоштовна доставка піци</span>
        <button>Ввійти</button>
    </div>
    <hr/>
    <span class="in_up_down">Піца</span>

</div>

